body {
    font-family: 'Poppins', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

#word-list {
    margin-top: 20px;
}

#puzzle-container {
    margin-top: 20px;
}

table {
    border-collapse: collapse;
}

td {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
}

.highlight {
    background-color: yellow;
}

.strike-through {
    text-decoration: line-through;
}

#timer {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}
